services:
  nginx:
    build:
      context: .
      dockerfile: ./nginx-server/Dockerfile
    container_name: nginx
    ports:
      - 8080:80
    depends_on:
      - backend
    
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
    container_name: backend
    ports:
      - "5001:5001"
    
    