---

 - name: Management of users, groups and directory for dev environment
   hosts: dev
   become: true

   vars_files:
     - inventory/group_vars/dev/users.yaml
     - inventory/group_vars/dev/vault.yaml


   tasks:
     - name: Ensure groups exist
       group:
         name: "{{ item }}"
         state: present
       loop:
         - developers
         - testers
         - admins
         - dev

     - name: Ensure users exist
       user:
         name: "{{ item.name  }}"
         groups: "{{ item.groups | join(',')  }}"
         append: true
         shell: /bin/bash
         create_home: true
         home: "/home/{{ item.name  }}"
         state: present
         password: "{{ item.password  }}"
       loop: "{{ users }}"


     - name: Create project directory
       file:
         path: "{{ item.path  }}"
         state: directory
         owner: "{{ item.owner | default('root') }}"
         group: "{{ item.group  }}" 
         mode: "{{ item.mode  }}"
       loop:
         - { path: "project/app", group: "developers", mode: "0770" } 
         - { path: "project/test", group: "testers", mode: "0770" }
         - { path: "project", group: "admins", mode: "0770" }
