services:
  frontend:
    build: 
      context: ./frontend/
      dockerfile: Dockerfile.frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-net

  backend:
    build: 
      context: ./backend/
      dockerfile: Dockerfile.backend
    container_name: backend
    ports:
      - "5000:5000"
    depends_on:
      - db
      - redis
    networks:
      - app-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/api/test"]
      interval: 5s
      timeout: 3s
      retries: 5
    
  db:
    image: mongo:latest
    container_name: mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - app-net    

  redis:
    image: redis:latest
    restart: always
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app-net

volumes:
  mongo-data:
networks:
  app-net: